<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Ajouter une musique</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">
        <mat-form-field>
          <label>Titre</label>
          <input formControlName="title" matInput placeholder="Ex: Raelsan" required/>
        </mat-form-field>

        <mat-form-field >
          <label>Album</label>
          <input formControlName="album" matInput  placeholder="Le Chant des Sirènes" name="Album" required/>
        </mat-form-field>

        <mat-form-field >
          <label>Artiste</label>
          <input formControlName="artist" matInput  placeholder="Orelsan" name="Artiste" required/>
        </mat-form-field>

        <mat-form-field >
          <label>Année</label>
          <input formControlName="date" matInput  placeholder="2011" name="Annee" required/>
        </mat-form-field>

        <mat-form-field>
          <label>Description</label>
          <textarea formControlName="description" matInput  placeholder="Ex: Raelsan est le premier single de l'album Le Chant des sirènes d'Orelsan." name="Description" required></textarea>
        </mat-form-field>

        <mat-form-field>
          <label>Temps</label>
          <input formControlName="duration" matInput  placeholder="Ex: 3:56" name="Temps" required/>
        </mat-form-field>

      <p>
        <mat-form-field class="chip-list" >
          <mat-label> Styles :</mat-label>
          <mat-chip-listbox #chipList aria-label="Styles de la musique">
            <mat-chip *ngFor="let titre of musicModel?.style" (removed)="removeChipset(titre)" >
              {{titre}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-listbox>
        </mat-form-field>
      </p>

      <label>Image/Cover de l'album</label>
      <br/>
      <input #fileInput type="file" (change)="onFileSelected($event)"  name="photo" accept=".png,.jpg" />
      <div *ngIf="musicModel?.picture" >
        <img height="100" width="100" ngSrc="{{musicModel?.picture}}" alt="Photo de l'album" /> <br>
        <button mat-flat-button color="warn">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>

      <div class="file-upload" *ngIf="!musicModel?.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
