<section *ngIf="datasource != undefined">
  <table mat-table class="music-table" [dataSource]="datasource">

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef>id</th>
      <td *matCellDef="let music">{{music.id}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef>Title</th>
      <td *matCellDef="let music">{{music.title}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef>Description</th>
      <td *matCellDef="let music">{{music.description}}</td>
    </ng-container>

    <ng-container matColumnDef="album">
      <th *matHeaderCellDef>Album</th>
      <td *matCellDef="let music">{{music.album}}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th *matHeaderCellDef>Artiste</th>
      <td *matCellDef="let music">{{music.artist}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef>Duration</th>
      <td *matCellDef="let music">{{music.duration}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef>Date</th>
      <td *matCellDef="let music">{{music.date}}</td>
    </ng-container>

    <ng-container matColumnDef="style">
      <th *matHeaderCellDef>Style</th>
      <td *matCellDef="let music">{{music.style}}</td>
    </ng-container>

    <ng-container matColumnDef="picture">
      <th *matHeaderCellDef>Cover</th>
      <td *matCellDef="let music"><img [src]="music.picture" alt="Cover"/></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of musics">
  </mat-paginator>
</section>

