<section [ngSwitch]="view">
<section *ngSwitchCase="'card'">
  <carte *ngFor="let music of musics" [music]="music"></carte>
</section>
<section *ngSwitchCase="'tableau'">
  <tableau [datasource]="musics"></tableau>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>
  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'tableau'">view_stream</em>
  </button>
</section>
</section>
